# Environments
.env
.venv/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# Results
results/

# Models
models/


.egg-info/

# Claude Code
.claude/
CLAUDE.md

paper.tex
Project Guidelines MLHC Spring 2025.pdf